

@import "functions";
@import "animations";

$slide-height: rem(300px);



.slider {
  background-color: lightblue;
  &__slides {}
  &__nav {}

}

.slides {
  position: relative;
  overflow: hidden;
  min-height: $slide-height;
  &__slide {

    min-height: $slide-height;
    background-color: lightcoral;
    position: absolute;
    width: 100%;
    left: 0;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    &:first-child {
      animation-name: slide-1;
      left: 0;
    }
    &:nth-child(2) {
      left: 100%;

      background-color: goldenrod;
      animation-name: slide-2;

    }
    &:last-child {

      left: 200%;

      background-color: lightgreen;
      animation-name: slide-3;

    }
  }
  &__box {}
  &__hdl {}
  &__lead {}
  &__link {}

}


.nav {
  &__btn {
    &.nav__btn--prev {

    }

  }

}